.form {
    padding: 30px 0 30px 0
}
.content {
    max-width: 600px;
}
.form-group.required .control-label:after {
    content:"*";
    color:red;
}
.messages .item {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #CCC;
}
.messages .item:last-child {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border: 0px;
}
.messages .info {
    margin: 0 0 10px 0
}
.messages .info .user {
    font-weight: bold;
}
